@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  background-color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
.app h1 {
  font-weight: 700;
  background-color: #f4f4f4;
  color: #000;
  text-align: center;
  padding: 7px;
  border-radius: 15px;
  margin: 10px;
}

.corona-card {
  border: 2px solid #212629;
  margin: 40px;
  color: #fff;
}
.corona-card-header {
  background-color: #fff;
  color: #000;
  border-radius: 7px;
  font-weight: 700;
}
.today {
  border: 2px solid #212629;
  margin: 10px;
  color: #fff;
}
