@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
::selection{
  background-color: black;
  color: white;
}

.corona-card {
  margin: 40px;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px;
}
.corona-card-header {
  background-color: #000;
  color: #fff;
  border-radius: 7px;
  font-weight: 700;
  padding: 10px;
}
.today {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10px;
  color: #000;
  padding: 15px;
}
nav {
  background: #000;
}
nav h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 2.5rem;
  color: #f4f4f4;
}
.footer {
  background: #000;
  color: #f4f4f4;
  padding: 30px;
}
.footer a {
  color: #fff;
}
.footer a:hover {
  color: #ffd814;
  transition: all 0.35s ease-in-out;
}
nav .btn-dark {
  background: #000;
  color: #f4f4f4;
}
nav .btn-dark:hover {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  transition: all 0.4s ease-in-out;
}
.corona-card:hover {
  background-color: #000;
  color: #fff;
  transition: all 0.4s ease-in-out;
}
.corona-card:hover .corona-card-header {
  background-color: #fff;
  color: #000;
  transition: all 0.4s ease-in-out;
}
.today:hover {
  background-color: #000;
  color: #fff;
  transition: all 0.4s ease-in-out;
}
.today:hover .corona-card-header {
  background-color: #fff;
  color: #000;
  transition: all 0.4s ease-in-out;
}
.spinner-h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 2.5rem;
  margin-top: 100px;
}
@media screen and (max-width: 577px) {
  nav h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 1.2rem;
    color: #f4f4f4;
    margin-right: auto;
    margin-left: auto;
  }
  nav .navbar-button {
    margin-right: auto;
    margin-left: auto;
  }
}

div.arrow {
  width: 6vmin;
  height: 6vmin;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: rotate(135deg);
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 60px;
  cursor: pointer;
}
div.arrow::before {
  content: "";
  width: 100%;
  height: 100%;
  border-width: 0.8vmin 0.8vmin 0 0;
  border-style: solid;
  border-color: #000000;
  transition: 0.2s ease;
  display: block;
  transform-origin: 100% 0;
}
div.arrow:after {
  content: "";
  float: left;
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  border-width: 0 0.8vmin 0 0;
  border-style: solid;
  border-color: #000000;
  transform-origin: 100% 0;
  transition: 0.2s ease;
}
div.arrow:hover::after {
  border-color: orange;
}
div.arrow:hover::before {
  border-color: orange;
}

.country-picker{
  width: 120px;
  outline: none;
  background-color: black;
  border: 1px solid #343a40;
  border-radius: .2rem;
  color: white;
  padding: .44rem .50rem;
  font-size: 1rem;
  font-weight: 400;
}


.spinner-btn{
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  padding: 5px 20px;
  cursor: pointer;
  font-weight: 900;
  transition: all .2s;
}

.spinner-btn:hover{
  background-color: black;
  color: white;
}

